.Login {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.Login__container {
  align-items: center;
  border: 10px solid red;
  display: flex;
  justify-content: center;
}
