.Profile {
  align-items: center;
  background: url(../../images/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.Profile__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
}

.Profile-form {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  transition: 0.7s all ease;
  width: 28rem;
}

.Profile-icons:hover {
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  transform: translateY(-7px);
  transition: 0.5s;
}

.Profile__img {
  border-radius: 12px;
  box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.3);
  width: 100px;
}

@media screen and (max-width: 600px) {
  .Profile-form {
    border-radius: 1px;
    height: 100vh;
    margin: auto;
    margin-bottom: 1px;
    overflow: hidden;
    width: 100vw;
  }

  .Header {
    display: none;
  }

  .profile-email {
    font-size: 0.8rem;
  }
}

.Profile-header {
  border: 2px solid black;
}
