.FavoriteRecipes {
  backdrop-filter: blur(10px);
  background: url('../../images/bg123.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.FavoriteRecipes__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FavoriteRecipes__container-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
}

.FavoriteRecipes__item-card {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-height: 30rem;
  text-align: center;
  transition: 0.7s all ease;
  width: 28rem;
}

.FavoriteRecipes__filter {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.FavoriteRecipes__filter button {
  background-color: #2fc18c;
  border: none;
  border-radius: 45px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2.5px;
  margin-bottom: 5rem;
  margin-top: 1rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 160px;
}

.social-btn button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.FavoriteRecipes__filter button:hover {
  background-color: #2ee59d;
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  color: white;
  transform: translateY(-7px);
}

.FavoriteRecipes__Img {
  border-radius: 25px;
  height: 10rem;
  margin-top: 1rem;
  width: 10rem;
}

.FavoriteRecipes-img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.FavoriteRecipes-tags {
  font-size: 2rem;
  line-height: 1rem;
  margin: 1.5rem;
}

.social-btn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and ( max-width : 600px ) {

  .FavoriteRecipes__container {
    overflow-x: hidden;
    width: 100%;
  }

  .FavoriteRecipes__filter {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    margin: 0;
    padding-top: 1rem;
  }

  .FavoriteRecipes__filter button {
    border-radius: 1px;
    margin: 0;
    width: 100vw;
  }

  .FavoriteRecipes__filter button:hover {
    transform: none;
  }

  .FavoriteRecipes__item-card {
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.55);
    margin: 1rem;
    padding-bottom: 1rem;
    width: 90%;
  }
}
