.Header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}

.Page__title {
  align-self: center;
  font-size: 5rem;
  margin-right: 15rem;
}

.Logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20rem;
}

.Logo-container img {
  height: 100%;
  width: 100%;
}

.search-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.search-container button {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}

.SearchBar__form {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.SearchBar__input {
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  letter-spacing: 0.5px;
  padding: 8px 10px;
  transition: all 0.3s ease 0s;
  width: 20rem;
}

.SearchBar__input:focus {
  border: 1px solid #2ee59d;
  outline: 1px solid #2ee59d;
}

.Search-sub {
  align-self: center;
  background-color: #2fc18c;
  border: none;
  border-radius: 45px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2.5px;
  margin-top: 1rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 160px;
}

.Search-sub:hover {
  background-color: #2ee59d;
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  color: white;
  transform: translateY(-7px);
}

label {
  font-size: 1.5rem;
}

.Radio {
  appearance: none;
  border: 2px solid #999;
  border-radius: 50%;
  height: 30px;
  margin-right: 5px;
  position: relative;
  top: 4px;
  transition: 0.2s all linear;
  width: 30px;
}

input:checked {
  background-color: #2ee59d;
  border: 6px solid #2ee59d;
  outline: unset ! important; /* I added this one for Edge (chromium) support */
}

@media screen and ( max-width : 600px ) {

  .search-container svg {
    width: 20px;
  }

  .SearchBar__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
  }

  .search-container {
    margin: 0 auto;
    width: max-content;
  }

  .SearchBar__form {
    gap: 0.2rem;
    width: 60vw;
  }

  .SearchBar__input {
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    height: 1.5rem;
    letter-spacing: 0.2px;
    padding: 4px 5px;
    width: 10rem;
  }

  .Search-sub {
    border-radius: 15px;
    font-size: 0.6rem;
    font-weight: 650;
    height: 30px;
    letter-spacing: 1px;
    margin: 10px;
    width: 80px;
  }

  .Search-sub:hover {
    transform: none;
  }

  label {
    font-size: 1rem;
  }

  .Radio {
    border: 0.5px solid #999;
    border-radius: 50%;
    height: 15px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    transition: 0.2s all linear;
    width: 15px;
  }

  input:checked {
    background-color: #2ee59d;
    border: 6px solid #2ee59d;
    outline: unset ! important; /* I added this one for Edge (chromium) support */
  }
}
