* {
  width: 320px;
}

.carousel-container {
  background-color: aqua;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 360px;
  height: 200px;
  gap: 6rem;
  overflow-x: auto;
}
.Item__Container-img {
  border: 2px solid red;
  width: 170px;
  height: 100px;
}

.Item__Container-img img {
  height: 100%;
  width: 100%;
}

.Item-Details-img {
  width: 5rem;
  height: 5rem;
}
.Item-Details-img img {
  height: 100%;
  width: 100%;
}
