.carousel-container {
  background-color: aqua;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50rem;
  height: 200px;
  gap: 13rem;
  overflow-x: auto;
}
.Item__Container-img {
  border: 2px solid red;
  width: 150px;
  height: 150px;
}

.Item__Container-img img {
  height: 100%;
  width: 100%;
}

.Item-Details-img {
  width: 5rem;
  height: 5rem;
}
.Item-Details-img img {
  height: 100%;
  width: 100%;
}
