.Footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 5.5vh;
  margin-left: 2rem;
  position: fixed;
  top: 50%;
  width: max-content;
}

.mealsLink {
  background-color: rgba(255, 255, 255, 0);
}

.container-btn-footer {
  background: rgba(255, 255, 255, 0);
  width: min-content;
}

.container-btn-footer:hover {
  transform: translateY(-7px);
  transition: 0.5s;
}

.container-btn-footer svg {
  width: 5rem;
}

@media screen and (max-width: 600px) {
  .Footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 5.5vh;
    margin-left: 2rem;
    position: fixed;
    top: 50%;
    left: 0%;
    width: min-content;
  }

  .container-btn-footer svg {
    width: 2.5rem;
  }
}
