.Footer {
  align-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  height: 5.5vh;
  position: fixed;
  width: 100%;
}

.Footer img {
  height: 5vh;
  padding-top: 0.4vh;
  width: auto;
}

.Footer a {
  height: inherit;
  left: auto;
  padding-right: 1vw;
  width: auto;
}

.mealsLink {
  background-color: whitesmoke;
  margin: auto;
}
