.Footer {
  background-color: beige;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 0.5rem 0;
  left: 0%;
  position: fixed;
  top: 30%;
  width: min-content;
}

.mealsLink {
  background-color: rgba(255, 255, 255, 0);
}

.container-btn-footer {
  background: rgba(255, 255, 255, 0);
  width: min-content;
}

.container-btn-footer svg {
  width: 5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .Footer {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: min-content;
    margin-left: 5px;
    left: 0%;
    position: fixed;
    top: 35%;
    width: min-content;
    z-index: 0;
  }

  .container-btn-footer svg {
    width: 1.5rem;
    margin: 0rem;
    padding: 0;
  }
  .footer-icon-h {
    padding: 0;
    margin: 0;
  }
}
